/* Reset CSS */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: -o-linear-gradient(#f3f3f3, #000);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
}

.tab {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    background-color: #333;
    color: #fff;
}

.tab a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.tab a:hover {
    text-decoration: underline;
}

.content {
    padding: 20px;
}

.register label,
.login label {
    display: block;
    margin-bottom: 8px;
}

.register input,
.login input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.register input[type="submit"],
.login input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

.register input[type="submit"]:hover,
.login input[type="submit"]:hover {
    background-color: #45a049;
}

.message {
    color: #ff0000;
    margin-bottom: 10px;
}